<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Voyage facile{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('css/voyage.css') }}">
        <link rel="stylesheet" href="{{ asset('css/header_footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    <header class="header">
        <div class="header-top">
            <img class="logo" src="{{ asset('img/logo.png') }}" alt="logo">

            <nav class="menu">
                <a class="btn" href="{{path('app_accueil')}}">Accueil</a>
                <a class="btn" href="{{path('app_voyage')}}">Voyage</a>
                <a class="btn" href="{{path('app_formule')}}">Formule</a>
                <a class="btn" href="{{path('app_tableau_de_bord')}}">Tableau de bord</a>

                {% if app.user %}
                    <a class="btn" href="{{path('app_logout')}}">Se déconnecter</a>
                {% else %}
                    <a class="btn" href="{{path('app_login')}}">Connexion</a>
                    <a class="btn" href="{{path('app_register')}}">S'inscrire</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="main-content">
        {% block body %}{% endblock %}
    </main>


        <footer class= "footer">
            <p>© 2026 Voyage facile</p>
        </footer>

    </body>
</html>




