{% extends 'base.html.twig' %}


{% block title %} Détail - {{voyage.destination}}{% endblock %}

{% block body %}
<section class= "voyage-detail">
    <h1>{{voyage.destination}}<h1>

    {% if voyage.imageUrl %}
        <img src="{{ voyage.imageUrl }}" alt="" style= "max-width: 900px; width: 100%; border-radius: 12px">
    {% endif %}   

    <p> formule : {{ voyage.formule.nom }} </p>
    <p> prix : {{ voyage.prix }}€ </p>

    <a href="{{path('app_voyage')}}">Retour</a>

</section>
{% endblock %}