{% extends 'base.html.twig' %}

{% block title %}Hello VoyageController!{% endblock %}

{% block body %}

<section class='voyage'> 
    <div class='section-header'> 
        <button class='filtre'>filtres</button>

        <form class='bare-recherche' method='GET' action='{{path('app_voyage')}}'> 
        <input class='recherche' type='text' name='destination' value='{{destination}}' placeholder='Rechercger une déstination'></input>
        <button class='btn-rechercher' type='submit'> <i class="fa-solid fa-magnifying-glass"></i> </button>

        </form>
     </div>

    <div class='voyage-grid'>
        {% for voyage in voyages %}
        <article class='voyage-card'>
            <div class='voyage-img'>
                {% if voyage.imageUrl %}
                <img src='{{voyage.imageUrl}}' alt=''>
                {% else %}
                <div class='aucune-img'>Aucune image</div>
                {% endif %}
            </div>

            <div class='voyage-contenu'>
                <p class='voyage-destination'> destination : {{voyage.destination}}</p>
                <p class='voyage-formule'> formule : {{voyage.formule.nom}}</p>
                <p class='voyage-prix'> prix : {{voyage.prix}}</p>

                <a class="btn-detail" href="{{ path('voyage_detail', { id: voyage.id }) }}">détail d'un voyage</a>
            </div>
        </article>
    {% endfor %}
    </div>
</section>

{% endblock %}
